.horrible-text {
    color:black;
    background-color: rgb(222, 172, 175);
    font-size: 15px; 
    text-align: center;
    width: rem;
    /* height:12rem; */
    overflow: auto;
    padding: 8px 16px;
    border: 1px;
    margin: 32px;
    border: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 4px;
    margin: 32px;
    font-family: "Open Sans"

    }

    body{
        font-family: "Montserrat";
    }

    .horrible-text:hover {
        cursor: pointer;
        background-color: palevioletred;
        border-style: dashed;
    }

    .horrible-text:active {
        cursor: pointer;
        background-color: rgb(134, 46, 53);
    }
   

.a {
display: flex; 
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
gap: 0.5rem;

}

a {
    text-decoration: none;
list-style-type: none;
color: rgb(0, 0, 0);
font-family: Open Sans;

}

a:hover {
        cursor: pointer;
        background-color: palevioletred;
    }

    a:active {
        cursor: pointer;
        background-color: rgb(134, 46, 53);
    }

.pink {
    background-color: #FFEFEE;
}

.container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 0.75rem;
    background-color: #FFEFEE;
}

.child {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Copyright {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    font-family: Open Sans;
    background-color:#FFEFEE
}

.quote {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 0.75rem;
}

.cass {
    font-size: 20px
}

.hero-image {
    width: 100vw;
}

.photo {
    width: 100vw;
}

.child2 {
    display:flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    margin: 0 10px;
    font-size:40px;
    
}

.hero-background {
    background-size: 100%;
    padding: 20px 0px;
  background-image: url('./assets/heroimage1.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width:460px) {
    .container {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
    }
    .hero-background {
        background-size: 100%;
        padding: 48px 0px;
        background-image: url('./assets/heroimage1.png');
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:603px) {
    .Copyright {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

@media screen and (min-width:603px) {
    .helpme {
        display: flex; 
        justify-content:center;
}
}

